/* You can add global styles to this file, and also import other style files */
.body-background {
    background-color: #edf1f7;
}
.photoUser {
    height: 32px;
    width: 32px;
    border-radius: 100%;
}